Lab3/Options.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Options">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SourcePath" type="xs:string" />
        <xs:element name="TargetPath" type="xs:string" />
        <xs:element name="LoggerPath" type="xs:string" />
        <xs:element name="NeedToEncrypt" type="xs:boolean" />
        <xs:element name="ArchiveOptions" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>